$button-border-width: 4px;

$white: #ffffff;
$primary: #ff3860;
$dark: #00061b;

$grey: #666e73; // #686c6e;
$grey-darker: $grey;
$grey-dark: $white; //#9ca8ac;

$grey-lighter: #f6f6f6; // #f6f7fb;
$light: $white;
$footer-background-color: $dark;
