@import "./colours.scss";
@import "./helpers.scss";

@import url("https://fonts.googleapis.com/css?family=Montserrat:900|Muli&display=swap");
@import "../node_modules/bulma/bulma.sass";
@import "./spacers.scss";

html {
  margin: 0;
  font-family: "Muli", sans-serif !important;
  background-color: $dark;
  color: $dark;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar,
.button {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

strong {
  color: $grey;
}

pre {
  background-color: $grey;
  color: $dark;
  opacity: 0.5;
}

.level-item {
  opacity: 0.6;
}

.level-item:hover {
  transition: opacity 300ms;
  opacity: 1;
}

.tags {
  display: flex;
  justify-content: center;
}
