$button-border-width: 4px;

$white: #fafafa;
$primary: #eb4056;
$dark: #00061b;

$grey: #9ca8ac;
$grey-darker: $grey;
$grey-dark: $white; //#9ca8ac;

$light: $white;
$footer-background-color: $dark;

@import url("https://fonts.googleapis.com/css?family=Montserrat:900|Muli&display=swap");
@import "../node_modules/bulma/bulma.sass";
@import "./spacers.scss";

html {
  margin: 0;
  font-family: "Muli", sans-serif !important;
  // background-color: $dark;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.has-right-margin-on-mobile {
  @media only screen and (max-width: 1024px) {
    margin-right: 2rem;
  }
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#hero-title {
  font-size: 5rem;
  @media only screen and (max-width: 600px) {
    font-size: 3rem;
  }
}

#hero-tagline {
  font-size: 1.5rem;
}

.curve {
  display: block;
  margin-bottom: -0.5rem;
}

.flip-horizontal {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.flip-vertical {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.is-transparent {
  opacity: 0.4;
}

.navbar-burger span {
  height: 2px;
  color: $dark;
}

.level-item {
  opacity: 0.4;
}

.level-item:hover {
  transition: opacity 300ms;
  opacity: 1;
}

.box {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: rgba(0, 10, 56, 0.1) 0 0 36px 0;
  margin: 1rem;
}

.box:hover {
  box-shadow: rgba(0, 10, 56, 0.15) 0 0 36px 0;
}

.is-between-sections {
  margin-bottom: -10rem;
}

@media (max-width: 800px) {
  .is-between-sections {
    margin-bottom: 0rem;
  }
}

.has-no-input-styling {
  background-color: white;
  border: none;
  box-shadow: none;
}
